html,
body,
.view {
  height: 100%; }

.space{
    margin-bottom:30px;
}
.main-part{
    min-height: 800px;
}

body {
  background-color: #ff9900;
}

.card {
    //width : 250px;
    margin-right: 10px;
    margin-top: 10px;
    //display: inline-block;
}

.card-stylist{
    display: inline-block;
    width : 250px;
}


