<div class="justify-content-center align-items-center">
    <div class="view">
        <div class="text-center white-text">
        <h1 class="mb-4">
          <strong>Welcome to the Hair Salon</strong>
        </h1>

        <p class="mb-4 d-none d-md-block">
          <strong>We are passionate and committed to meeting all the needs of your hair</strong>
        </p>

        <a href="/stylists" class="btn btn-outline-white btn-lg">next</a>
        </div>
    </div>
</div>