<h1>Add a stylist</h1>

<p>Add a stylist here:</p>

<form action="/stylists" method="post">
  <label for="name">Stylist name</label>
  <input id="name" name="name" type="text">

  <label for="name">Email</label>
  <input id="email" name="email" type="text">

  <label for="name">Phone</label>
  <input id="phone" name="phone" type="text">
  <br>
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>